
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/** header **/
header{
    margin: 15px;
}
#tittle-logo{
    display: inline-block;
    vertical-align: middle;
    line-height: 50px;
}

.logo{
    vertical-align: middle;
}

/** fine header **/
main{
    background-color: rgb(233, 231, 231);
    padding-top: 30px;

    /**height: 400px;**/
}

.card-contenuto{
    background-color: white;
    width: 80%;
    margin: auto;
    border-radius: 5px;
}

.button{
    border-bottom: 1px solid lightgrey;
    padding: 20px;
    padding: 10px 50px;

}

.conteiner{
    padding: 10px 50px
}

.button-blue{
    background-color: rgb(57, 191, 253);
    border: none;
    padding: 2px 5px
}

.button-white{
    background-color: white;
    border: 1px solid lightgrey;
    padding: 2px 5px;
}

.tittle{
    display: inline-block;
}

.freccia{
    vertical-align: middle;
}

.circle{
    padding: 5px;
    border: 1px solid rgb(4, 192, 29);
    border-radius: 50px;
    
    
}